{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ["python-pip","python-virtualenv", "python-memcache", "python-psycopg2", "python-imaging", "python-docutils", "python-simplejson", "python-tz", "python-pygraphviz", "python-dev", "gettext", "libpq-dev", "libffi-dev"],
        'repository': 'git@repo1.robotice.cz'
    },
    'RedHat': {
        'pkgs': ["python-pip","python-virtualenv", "python-memcache", "gcc", "libffi-devel", "python-devel", "openssl-devel"],
    },
}, merge=salt['pillar.get']('leonardo:server')) %}
